@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
body {
  background-color: #f7f7f7;
}

div[class="side-bar-container"] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

div[class="dashboard-container"] {
  margin-top: 0;
  padding: 0;
  background-color: #f7f7f7;
  font-family: "Raleway", sans-serif;
}
div[class="dashboard-container"] div[class="tittle"] {
  text-align: center;
  background-color: #ededed;
  color: #293f54;
  height: 35px;
  padding: 1rem;
}
div[class="dashboard-container"] div[class="dashboard"] {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "dashboard-figures" "dashboard-statistique" "dashboard-graphs";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"] {
  grid-template-areas: "dashboard-figures";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"] {
  padding: 0.7rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: "figure-one figure-two" "figure-three figure-four" "figure-five figure-six";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  h2 {
  color: #293f54;
  margin-left: 1rem;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span {
  padding: 0.5rem;
  box-shadow: 0 0px 10px 2px #ddd;
  background-color: #ffffff;
  border-radius: 20px;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: figure-one;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"]
  h2 {
  color: #293f54;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"]
  span[class="total-users"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"]
  div[class="percent"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"]
  div[class="percent"]
  i {
  color: green !important;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-one"]
  div[class="border-right"] {
  border-right: 1px solid red;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-two"] {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  border-right: 1px solid red;
  grid-area: figure-two;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-two"]
  span[class="average-time"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-three"] {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: figure-three;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-three"]
  span[class="total-males"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-four"] {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: figure-four;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-four"]
  span[class="total-females"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-five"] {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: figure-five;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  span[class="figure-five"]
  span[class="total-collection"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  div[class="figure-six"] {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: figure-six;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-figures"]
  div[class="figure-six"]
  span[class="total-connection"] {
  display: flex;
  flex-direction: column;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"] {
  grid-template-areas: "dashboard-statistique";
  background-color: #f7f7f7;
  height: 29rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 5vh 95vh;
  grid-template-areas: "network-activities" "statistique";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="network-activities"] {
  background-color: #293f54;
  color: white;
  padding: 0.8rem;
  grid-area: "network-activities";
  box-shadow: 0 0px 10px 2px #ddd;
  margin-left: 1rem;
  max-width: 85%;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"] {
  grid-area: "statistique";
  /* begining short graph section*/
  /* begining long graph section*/
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "long-graph" "short-graph";
  grid-gap: 3px;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="short-graph"] {
  grid-area: "short-graph";
  box-shadow: 0 0px 10px 2px #ddd;
  border: 1px solid yellow;
  margin-top: 1rem;
  height: 400px;
  background-color: #ffffff;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"] {
  grid-area: "long-graph";
  /* end long graph section*/
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  #container {
  height: auto;
  box-shadow: 0 0px 10px 2px #ddd;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-figure,
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  th {
  font-weight: 600;
  padding: 0.5em;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  td,
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  th,
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  caption {
  padding: 0.5em;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  thead
  tr,
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  tr:nth-child(even) {
  background: #f8f8f8;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-statistique"]
  div[class="statistique"]
  div[class="long-graph"]
  .highcharts-data-table
  tr:hover {
  background: #f1f7ff;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"] {
  grid-template-areas: "dashboard-graphs";
  margin-top: 32rem;
  height: auto;
  border: 1px solid red;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "upper-graph1" "upper-graph2" "upper-graph3" "lower-graph1" "lower-graph2" "lower-graph3";
  grid-gap: 1rem;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div {
  border: 1px solid green;
  height: auto;
  box-shadow: 0 0px 10px 2px #ddd;
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="upper-graph1"] {
  grid-area: "upper-graph1";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="upper-graph2"] {
  grid-area: "upper-graph2";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="upper-graph3"] {
  grid-area: "upper-graph3";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="lower-graph1"] {
  grid-area: "lower-graph1";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="lower-graph2"] {
  grid-area: "lower-graph2";
}
div[class="dashboard-container"]
  div[class="dashboard"]
  div[class="dashboard-graphs"]
  div[class="lower-graph3"] {
  grid-area: "lower-graph3";
}

@media screen and (min-width: 769px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "side-bar-container dashboard-container";
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  }
  .container div[class="side-bar-container"] {
    display: block;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 200px;
    background-color: #293f54;
    color: white;
    font-family: "Raleway", sans-serif;
  }
  .container div[class="side-bar-container"] div[class="top-menu"] {
    padding-left: 5%;
    margin-bottom: 1rem;
  }
  .container div[class="side-bar-container"] div[class="top-menu"] h2 {
    padding: 1rem 0 2rem 0;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"] {
    display: flex;
    flex-direction: row;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"]
    span[class="profile-icon"] {
    margin-right: 5%;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"]
    span[class="profile-icon"]
    i {
    margin: 0;
    padding: 0;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"]
    span[class="profile-icon"]
    p {
    margin: 0;
    padding: 0;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"]
    span[class="welcome"] {
    margin-top: 10%;
    margin-left: 5%;
  }
  .container
    div[class="side-bar-container"]
    div[class="top-menu"]
    div[class="welcome-menu"]
    span[class="welcome"]
    p {
    margin: 0;
    padding: 0;
  }
  .container div[class="side-bar-container"] hr {
    margin-bottom: 1rem;
  }
  .container div[class="side-bar-container"] div[class="bottom-menu"] {
    padding-left: 5%;
  }
  .container div[class="side-bar-container"] div[class="bottom-menu"] h3 {
    margin-top: 1rem;
    color: #547506;
  }
  .container div[class="side-bar-container"] div[class="bottom-menu"] span a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    margin-top: 1rem;
  }
  .container div[class="side-bar-container"] div[class="bottom-menu"] span a p {
    margin-top: 0;
    margin-left: 5%;
  }
  .container div[class="side-bar-container"] div[class="side-bar-footer"] {
    height: 2rem;
    width: 95%;
    background-color: #09121a;
    padding: 5% 0 0 5%;
    position: absolute;
    bottom: 0px;
  }
  .container div[class="side-bar-container"] div[class="side-bar-footer"] a {
    text-decoration: none;
    color: gray;
    padding: 1rem;
  }
  .container * {
    margin: 0;
    padding: 0;
  }
  .container div[class="dashboard-container"] {
    margin-top: 0;
    margin-left: 13rem;
    padding: 0;
    background-color: #f7f7f7;
    font-family: "Raleway", sans-serif;
  }
  .container div[class="dashboard-container"] div[class="tittle"] {
    text-align: center;
    background-color: #ededed;
    color: #293f54;
    height: 35px;
    padding: 1rem;
  }
  .container div[class="dashboard-container"] div[class="dashboard"] {
    min-width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "dashboard-figures" "dashboard-statistique" "dashboard-graphs";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"] {
    grid-template-areas: "dashboard-figures";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"] {
    grid-template-areas: "dashboard-statistique";
    background-color: #f7f7f7;
    height: 32rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5vh 95vh;
    grid-template-areas: "network-activities" "statistique";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="network-activities"] {
    background-color: #293f54;
    color: white;
    padding: 0.8rem;
    grid-area: "network-activities";
    box-shadow: 0 0px 10px 2px #ddd;
    margin-left: 1rem;
    max-width: 100%;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"] {
    grid-area: "statistique";
    /* begining short graph section*/
    /* begining long graph section*/
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "long-graph short-graph";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="short-graph"] {
    grid-area: "short-graph";
    box-shadow: 0 0px 10px 2px #ddd;
    border: 1px solid yellow;
    margin-top: 1rem;
    height: 400px;
    background-color: #ffffff;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"] {
    grid-area: "long-graph";
    /* end long graph section*/
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    #container {
    height: auto;
    box-shadow: 0 0px 10px 2px #ddd;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-figure,
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    th {
    font-weight: 600;
    padding: 0.5em;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    td,
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    th,
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    caption {
    padding: 0.5em;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    thead
    tr,
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    tr:nth-child(even) {
    background: #f8f8f8;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-statistique"]
    div[class="statistique"]
    div[class="long-graph"]
    .highcharts-data-table
    tr:hover {
    background: #f1f7ff;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"] {
    justify-content: center;
    grid-template-areas: "dashboard-graphs";
    height: auto;
    margin-top: 0;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3, 32.333%);
    grid-template-rows: auto auto;
    grid-template-areas: "upper-graph1 upper-graph2 upper-graph3" "lower-graph1 lower-graph2 lower-graph3";
    grid-gap: 1rem;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div {
    border: 1px solid green;
    height: auto;
    box-shadow: 0 0px 10px 2px #ddd;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="upper-graph1"] {
    grid-area: "upper-graph1";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="upper-graph2"] {
    grid-area: "upper-graph2";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="upper-graph3"] {
    grid-area: "upper-graph3";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="lower-graph1"] {
    grid-area: "lower-graph1";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="lower-graph2"] {
    grid-area: "lower-graph2";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-graphs"]
    div[class="lower-graph3"] {
    grid-area: "lower-graph3";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"] {
    padding: 0.7rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(16.666%);
    grid-gap: 1rem;
    grid-template-areas: "figure-one figure-two figure-three figure-four figure-five figure-six";
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    h2 {
    color: #293f54;
    margin-left: 1rem;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span {
    padding: 1rem 0.5rem 1rem 0.5rem;
    box-shadow: 0 0px 10px 2px #ddd;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"] {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: figure-one;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"]
    h2 {
    color: #293f54;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"]
    span[class="total-users"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"]
    div[class="percent"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"]
    div[class="percent"]
    i {
    color: green !important;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-one"]
    div[class="border-right"] {
    border-right: 1px solid red;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-two"] {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    border-right: 1px solid red;
    grid-area: figure-two;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-two"]
    span[class="average-time"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-three"] {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: figure-three;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-three"]
    span[class="total-males"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-four"] {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: figure-four;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-four"]
    span[class="total-females"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-five"] {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: figure-five;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    span[class="figure-five"]
    span[class="total-collection"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    div[class="figure-six"] {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: figure-six;
  }
  @media screen and (min-width: 769px) {
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > span[class="figure-one"] {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > span[class="figure-two"] {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > span[class="figure-three"] {
      -ms-grid-row: 1;
      -ms-grid-column: 5;
    }
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > span[class="figure-four"] {
      -ms-grid-row: 1;
      -ms-grid-column: 7;
    }
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > span[class="figure-five"] {
      -ms-grid-row: 1;
      -ms-grid-column: 9;
    }
    .container
      div[class="dashboard-container"]
      div[class="dashboard"]
      div[class="dashboard-figures"]
      > div[class="figure-six"] {
      -ms-grid-row: 1;
      -ms-grid-column: 11;
    }
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    div[class="figure-six"]
    span[class="total-connection"] {
    display: flex;
    flex-direction: column;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > span[class="figure-one"] {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > span[class="figure-two"] {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > span[class="figure-three"] {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > span[class="figure-four"] {
    -ms-grid-row: 1;
    -ms-grid-column: 7;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > span[class="figure-five"] {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
  }
  .container
    div[class="dashboard-container"]
    div[class="dashboard"]
    div[class="dashboard-figures"]
    > div[class="figure-six"] {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
  }
}

.shop-name {
  font-size: 1.5em;
  color: red;
  font-weight: bolder;
}
